/* Fonts 
font-family: 'Ephesis', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Aref Ruqaa', serif;
font-family: 'Over the Rainbow', cursive; body
font-family: 'Source Code Pro', monospace; body

font-family: 'Dancing Script', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: black;
    background-color: white;
}

h1 {
    font-family: 'Six Caps', sans-serif;
    font-weight: lighter;
    letter-spacing: 7px;
    font-size: 65px;
    transition: all .3s;
    padding-left: 6px;
}

h1:hover {
    transform: scale(1.05);
}

.different-h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 28px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
    padding: 100px 20vw;
    /*20% of the actual viewport grid for resposivity*/
}

#section2 {
    align-items: flex-end;
    text-align: right;
}

.basic-logo {
    position: absolute;
    top: 15%;
    right: 10%;
}

.basic-logo img {
    width: 10vw;
    animation: spin 5s infinite;
}

#footer {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    left: 0;
}

#promo {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-left: 50px;
    transition: all .3s;
}

#promo:hover {
    transform: scale(1.02);
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


/* Navbar */

#logo {
    width: 80px;
    padding-top: 2px;
}

#logo:hover {
    content: url("imgs/logo-gold.svg");
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-item {
    padding: 0.2rem 1.5rem;
}

.nav-item:first-child {
    /* logo */
    margin-right: auto;
}

.nav-link {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: lowercase;
    color: white;
}

.nav-link,
.nav-link:after,
.nav-link:before {
    transition: all .5s;
}

.nav-link:hover {
    color: #CCA43D;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #CCA43D;
    height: 1px;
}

.nav-link:hover:after {
    width: 100%;
}

a:link,
a:visited,
a:active {
    color: white
}

a.active {
    color: #CCA43D;
}

a.active[href='#section1'] a.active[href="#section2"],
a.active[href="#section3"],
a.active[href="#section4"] {
    color: #CCA43D;
}


/* Arrow */

.arrow {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    background-image: url('imgs/icons/expand.svg');
    background-size: cover;
    background-color: black;
}


/* Photos */

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photos img {
    border-radius: 30px;
    padding: 10px;
    max-width: 350px;
    cursor: pointer;
}


/* Datepicker */
.ui-widget {
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 0px;
}

.ui-widget.ui-widget-content {
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
}

.ui-datepicker-week-end {
    display: none;
}

.buttons-wrapper {
    background-color: black;
    border-radius: 0px 0px 6px 6px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 0px 5px 10px 5px;
    background-color: #CCA43D;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background-color: #a3873f;
}

.button-red {
    margin: 0px 5px 10px 5px;
    background-color: #b6b6b6;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 6px;
    cursor: not-allowed;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: popIn 0.5s;
    -webkit-animation: popIn 0.5s;
    text-align: center;
    border-radius: 6px;
    max-height: 80vh;
    overflow-y: auto !important;
}

div.modal-body p {
    margin-top: 0;
    margin-bottom: 10px;
}

.modal-header {
    border-radius: 6px 6px 0px 0px;
    padding: 2px 16px;
    background-image: linear-gradient(to bottom right, rgb(255, 253, 144), #CCA43D);
    /* background-color: #5cb85c; */
    color: black;
}

.modal-body {
    padding: 20px 16px;
}

.modal-inputs {
    padding: 10px;
    display: grid;
    justify-content: center;
}

.modal-inputs input {
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #888;
    margin: 10px 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: black;
    outline: 0px;
}

.modal-inputs input.focus {
    transition: ease-in 0.25s all;
    border-color: #CCA43D;
}

.modal-inputs .empty {
    border-color: rgb(194, 0, 0);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    filter: hue-rotate(195deg);
}

.modal-alert {
    display: none;
    color: red;
}

.modal-footer {
    border-radius: 0px 0px 6px 6px;
    padding: 4px 16px;
    background-image: linear-gradient(to top right, rgb(255, 253, 144), #CCA43D);
    color: black;
    ;
}

.modal-footer .button {
    margin-top: 10px;
}

.modal-services label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* The Close Button */

.close {
    position: fixed;
    right: 20px;
    top: 60px;
    transform: scale(1.5);
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

#opened-photo {
    display: none;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 75%; 
    /*max-width: 750px;*/
    max-width: 85vh;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: popIn 0.5s;
    -webkit-animation: popIn 0.5s;
}


/* Icons */

#ig-icon {
    padding-right: 6px;
}

.social-icon:hover path {
    stroke: #CCA43D;
}


/* Contacts */

.contact-info {
    padding: 20px 0px;
}

.contact-info img {
    vertical-align: middle;
    padding-right: 4px;
}

.contact-icon {
    font-size: 24px;
    padding: 6px 0px;
}

.contact-paragraph {
    margin: 0;
}


/* Map*/

.google-map {
    width: 80%;
}

.google-map iframe {
    border-radius: 10px;
    border: 0;
    height: 450px;
    width: 100%;
}


/* Colors, dividers */

.black {
    background: black;
    color: white;
    z-index: 2;
}

.gold-scroll {
    color: #CCA43D;
}

.gold {
    background: #CCA43D;
}

.grey {
    background: rgb(124, 124, 124);
}

.gradient {
    background-image: url(./imgs/gradient.svg);
    background-size: cover;
}

.black-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.black-wave svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 56px;
}

.black-wave .shape-fill {
    fill: #000000;
}

.gold-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.gold-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.gold-wave .shape-fill {
    fill: #CCA43D;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gold-layer {
    background-image: url('./imgs/gold-layer.svg');
}

.custom-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 86px;
}

.custom-shape .shape-fill {
    fill: white;
}


/* Animations */

.black h1 {
    animation: fadeInUp 1.5s;
}

.black p {
    animation: fadeInDown 1.5s;
}

.white h1 {
    animation: fadeInLeft 1.5s;
}

#promo {
    animation: fadeInLeft 1.5s;
}

.scroll-animation {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(60%);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(60%);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes animateTop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes popIn {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


/* Media queries */

@media screen and (max-width: 864px) {
    /*766*/
    .header {
        flex-direction: column;
    }
    section {
        padding: 50px 10vw;
    }

    .modal {
        padding-top: 56px;
    }
    .close {
        top: 20px;
    }
    .photos img {
        width: 100%;
    }
    #promo {
        margin: 0;
    }
    .google-map {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all 0.5s ease;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    .navbar {
        position: absolute;
        top: 0px;
    }
    .nav-item:nth-child(2),
    .nav-item:nth-child(3),
    .nav-item:nth-child(4),
    .nav-item:nth-child(5) {
        display: none;
    }
    .nav-link,
    .nav-link:after,
    .nav-link:before {
        transition: none;
    }
    .nav-item:first-child.open {
        margin: 0px;
        display: none;
    }
    .navbar.open {
        position: relative;
    }
    .nav-item.open {
        display: list-item;
        visibility: visible;
        animation: fadeInUp 1s;
    }
    .navbar-nav.open {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .line.rotatePlus {
        transform: rotate(45deg);
    }
    .line.rotateMinus {
        transform: translateY(15px) rotate(-45deg);
    }
    .line.dissapear {
        opacity: 0;
    }
    .ui-datepicker {
        font-size: 4vw;
    }
    .contact-paragraph {
        font-size: 24px;
        display: grid;
    }
}